/**
 * CSS files with the .module.css suffix will be treated as CSS modules
 * and scoped locally.
 */

.heroBanner {
  padding: 5rem 0;
  text-align: center;
}

.buttonGroup {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  gap: 0.75rem;
  margin-top: 1.5rem;
}

@media screen and (max-width: 996px) {
  .heroBanner {
    padding: 3rem 0;
  }
}
