/**
 * Any CSS included here will be global. The classic template
 * bundles Infima by default. Infima is a CSS framework designed to
 * work well for content-centric websites.
 */

:root {
  --ifm-color-primary: #f43f5e;
  --ifm-color-primary-dark: #e11d48;
  --ifm-color-primary-darker: #be123c;
  --ifm-color-primary-darkest: #9f1239;
  --ifm-color-primary-light: #fb7185;
  --ifm-color-primary-lighter: #fda4af;
  --ifm-color-primary-lightest: #fecdd3;
  --ifm-code-font-size: 95%;
  --docusaurus-highlighted-code-line-bg: rgba(0, 0, 0, 0.08);
}

[data-theme='dark'] {
  --ifm-color-primary: #fb7185;
  --ifm-color-primary-dark: #f43f5e;
  --ifm-color-primary-darker: #e11d48;
  --ifm-color-primary-darkest: #be123c;
  --ifm-color-primary-light: #fda4af;
  --ifm-color-primary-lighter: #fecdd3;
  --ifm-color-primary-lightest: #ffe4e6;
  --docusaurus-highlighted-code-line-bg: rgba(255, 255, 255, 0.08);
}
